{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
  <!-- Create Chore -->

  <div class="col-12 col-xl-12" >
    <div class="card mb-4">
      <div class="card-header pb-0 p-3">
        <h6 class="mb-1">Add chore</h6>
      </div>
      <div class="card-body p-3">
        <div class="row" style="justify-content: center;">
        
          <div class="col-xl-12 col-md-6 mb-xl-0 mb-4" >
            <div class="card h-100 card-plain border">
              <div class="card-body d-flex flex-column justify-content-center text-center">
                  <i class="fa fa-plus text-secondary mb-3"></i>
                  <button type="button"  id="addBudgetLink" data-toggle="modal" data-target="#addBudgetModal" class="btn bg-gradient-info w-100 mt-1 mb-0">Add Budget</button>
                            <!-- Modal for adding a budget -->
                      <div class="modal fade" id="addBudgetModal" tabindex="-1" role="dialog" aria-labelledby="addBudgetModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header pb-0 p-3">
                              <h6 class="mb-1">Add Budget</h6>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              {% include 'pages/add_budget.html' %}
                            </div>
                          </div>
                        </div>
  </div>
                </div>
            </div>
          </div>



        </div>
      </div>
    </div>
    
  </div>

      <!-- End Create Chore -->


  </div>
  <div class="row">
    <div class="col-md-4 mt-4">
      <div class="card">
        <div class="card-header pb-0 px-3">
          <h6 class="mb-0">Budgets</h6>
        </div>
        <div class="card-body pt-4 p-3">
          <ul class="list-group">
            {% for budget in budgets %}
            <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
              <div class="d-flex flex-column">
                <h6 class="mb-3 text-sm">{{ budget.amount }}</h6>
                <span class="mb-2 text-xs">Month: <span class="text-dark ms-sm-2 font-weight-bold">{{ chore.month }}</span></span>
                <span class="mb-2 text-xs">Year: <span class="text-dark ms-sm-2 font-weight-bold">{{ chore.year }}</span></span>

             
              </div>
              <div class="ms-auto text-end">
                <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="{% url 'delete_chore' chore_id=chore.id username=request.user.username  %}"><i class="far fa-trash-alt me-2"></i>Delete</a>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8 mt-4">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Budget in-depth</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">For</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Amount</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created at</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                {% for chore in chores %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="{{ chore.assigned_to.profile_pic.url }}" class="avatar avatar-sm me-3" alt="{{ chore.assigned_to.name }}">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ chore.assigned_to.name }}</h6>
                        <p class="text-xs text-secondary mb-0">{{ chore.assigned_to.email }}</p>
                      </div>
                    </div>
                  </td>

                  <td class="align-middle text-center text-sm">
                    <p class="text-xs font-weight-bold mb-0">{{ chore.title }}</p>
                  </td>
                  
                  <td class="align-middle text-center text-sm">
                    {% if chore.is_done %}
                    <span class="badge badge-sm bg-gradient-success">Done</span>
                    {% else %}
                    <span class="badge badge-sm bg-gradient-secondary">In progress</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{ chore.created_at }}</span>
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>



  <!-- Modal for editing a budget -->
  <div class="modal fade" id="editBudgetModal" tabindex="-1" role="dialog" aria-labelledby="editBudgetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header pb-0 p-3">
          <h6 class="mb-1">Edit Budget</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% include 'pages/edit_budget.html' %}
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for viewing yearly budget -->
  <div class="modal fade" id="yearlyBudgetModal" tabindex="-1" role="dialog" aria-labelledby="yearlyBudgetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header pb-0 p-3">
          <h6 class="mb-1">Yearly Budget</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% include 'pages/yearly_budget.html' %}
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for adding a category budget -->
  <div class="modal fade" id="categoryBudgetModal" tabindex="-1" role="dialog" aria-labelledby="categoryBudgetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header pb-0 p-3">
          <h6 class="mb-1">Add Category Budget</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% include 'pages/category_budget.html' %}
        </div>
      </div>
    </div>
  </div>

    {% include "includes/footer.html" %}
    
  </div>

   
<script>

    // Add event listeners to open each modal
  document.getElementById('addBudgetLink').addEventListener('click', function() {
    $('#addBudgetModal').modal('show');
  });

  document.getElementById('editBudgetLink').addEventListener('click', function() {
    $('#editBudgetModal').modal('show');
  });

  document.getElementById('yearlyBudgetLink').addEventListener('click', function() {
    $('#yearlyBudgetModal').modal('show');
  });

  document.getElementById('categoryBudgetLink').addEventListener('click', function() {
    $('#categoryBudgetModal').modal('show');
  });
</script>

{% endblock content %}

<!-- 
{% for chore in chores %}
    <p>{{ chore.title }} - {{ chore.assigned_to.name }} - {% if chore.is_done %}Done{% else %}In progress{% endif %}</p>
{% endfor %} -->