{% extends 'layouts/base.html' %}
{% load static %}
{% load my-form-tags %}

{% block content %}

    <div class="container-fluid py-4">
      <h5 class="font-weight-bolder"> - Add your expenses | Current Month: {{ category_budgets.food.monthly_budget.get_month_display }}</h5>
      <div class="row pb-2">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <a class="btn btn-link p-0 m-0 w-100" data-bs-toggle="modal" data-bs-target="#addExpenseModal" data-category="food">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-8">
                    <div class="numbers text-start">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Food Expense</p>
                      <h5 class="font-weight-bolder mb-0">
                        {{ category_expenses.food|default:"0" }}
                        <span class="text-success text-sm font-weight-bolder">RON 
                          / {% if remaining_category_budgets.food %}
                          <p class="text-secondary text-sm">Remaining Budget: {{ remaining_category_budgets.food }} RON</p>
                          {% else %}
                              <p class="text-secondary text-sm">No budget this month.</p>
                          {% endif %}
                        </span>
                      </h5>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                      <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <a class="btn btn-link p-0 m-0 w-100" data-bs-toggle="modal" data-bs-target="#addExpenseModal" data-category="clothing">
            <div class="card">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-8">
                    <div class="numbers text-start">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Clothing Expense</p>
                      <h5 class="font-weight-bolder mb-0">
                        {{ category_expenses.clothing|default:"0" }}
                        <span class="text-success text-sm font-weight-bolder">RON /
                          {% if remaining_category_budgets.clothing %}
                          <p class="text-secondary text-sm">Remaining Budget: {{ remaining_category_budgets.clothing }} RON</p>
                          {% else %}
                              <p class="text-secondary text-sm">No budget this month.</p>
                          {% endif %}
                        </span>
                      </h5>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                      <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
          <a class="btn btn-link p-0 m-0 w-100" data-bs-toggle="modal" data-bs-target="#addExpenseModal" data-category="movies">
            <div class="card">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-8">
                    <div class="numbers text-start">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Movies Expense</p>
                      <h5 class="font-weight-bolder mb-0">
                        {{ category_expenses.movies|default:"0" }}
                        <span class="text-success text-sm font-weight-bolder">RON /
                          {% if remaining_category_budgets.movies %}
                          <p class="text-secondary text-sm">Remaining: {{ remaining_category_budgets.movies }} RON</p>
                          {% else %}
                              <p class="text-secondary text-sm">No budget.</p>
                          {% endif %}
                        </span>
                      </h5>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                      <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          </a>
        </div>
        <div class="col-xl-2 col-sm-6">
          <a class="btn btn-link p-0 m-0 w-100" data-bs-toggle="modal" data-bs-target="#addExpenseModal" data-category="transportation">
            <div class="card">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-8">
                    <div class="numbers text-start">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Transport. Exp.</p>
                      <h5 class="font-weight-bolder mb-0">
                        {{ category_expenses.transportation|default:"0" }}
                        <span class="text-success text-sm font-weight-bolder">RON /
                          {% if remaining_category_budgets.transportation %}
                          <p class="text-secondary text-sm">Remaining: {{ remaining_category_budgets.transportation }} RON</p>
                          {% else %}
                              <p class="text-secondary text-sm">No budget.</p>
                          {% endif %}
                        </span>
                      </h5>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                      <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </a>
        </div>
        <div class="col-xl-2 col-sm-6">
          <a class="btn btn-link p-0 m-0 w-100" data-bs-toggle="modal" data-bs-target="#addExpenseModal" data-category="utilities">
            <div class="card">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-8">
                    <div class="numbers text-start">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Utilities Exp.</p>
                      <h5 class="font-weight-bolder mb-0">
                        {{ category_expenses.utilities|default:"0" }}
                        <span class="text-success text-sm font-weight-bolder">RON /
                          {% if remaining_category_budgets.utilities %}
                          <p class="text-secondary text-sm">Remaining: {{ remaining_category_budgets.utilities }} RON</p>
                          {% else %}
                              <p class="text-secondary text-sm">No budget.</p>
                          {% endif %}
                        </span>
                      </h5>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                      <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </a>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <a class="btn btn-link p-0 m-0 w-100" data-bs-toggle="modal" data-bs-target="#addExpenseModal" data-category="groceries">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers text-start">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Groceries Expense</p>
                    <h5 class="font-weight-bolder mb-0">
                      {{ category_expenses.groceries|default:"0" }}
                      <span class="text-success text-sm font-weight-bolder">RON /
                        {% if remaining_category_budgets.groceries %}
                          <p class="text-secondary text-sm">Remaining Budget: {{ remaining_category_budgets.groceries }} RON</p>
                          {% else %}
                              <p class="text-secondary text-sm">No budget this month.</p>
                          {% endif %}
                      </span>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                      <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        </div>
      
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <a class="btn btn-link p-0 m-0 w-100" data-bs-toggle="modal" data-bs-target="#addExpenseModal" data-category="entertainment">
            <div class="card">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-8">
                    <div class="numbers text-start">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Entertainment Expense</p>
                      <h5 class="font-weight-bolder mb-0">
                        {{ category_expenses.entertainment|default:"0" }}
                        <span class="text-success text-sm font-weight-bolder">RON /
                          {% if remaining_category_budgets.entertainment %}
                          <p class="text-secondary text-sm">Remaining Budget: {{ remaining_category_budgets.entertainment }} RON</p>
                          {% else %}
                              <p class="text-secondary text-sm">No budget this month.</p>
                          {% endif %}
                        </span>
                      </h5>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                      <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </a>
        </div>
        <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
          <a class="btn btn-link p-0 m-0 w-100" data-bs-toggle="modal" data-bs-target="#addExpenseModal" data-category="education">
            <div class="card">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-8">
                    <div class="numbers text-start">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Education Expense</p>
                      <h5 class="font-weight-bolder mb-0">
                        {{ category_expenses.education|default:"0" }}
                        <span class="text-success text-sm font-weight-bolder">RON /
                          {% if remaining_category_budgets.education %}
                          <p class="text-secondary text-sm">Remaining: {{ remaining_category_budgets.education }} RON</p>
                          {% else %}
                              <p class="text-secondary text-sm">No budget.</p>
                          {% endif %}
                        </span>
                      </h5>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                      <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </a>
        </div>
        <div class="col-xl-2 col-sm-6">
          <a class="btn btn-link p-0 m-0 w-100" data-bs-toggle="modal" data-bs-target="#addExpenseModal" data-category="healthcare">
            <div class="card">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-8">
                    <div class="numbers text-start">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Healthcare Expense</p>
                      <h5 class="font-weight-bolder mb-0">
                        {{ category_expenses.healthcare|default:"0" }}
                        <span class="text-success text-sm font-weight-bolder">RON /
                          {% if remaining_category_budgets.healthcare %}
                          <p class="text-secondary text-sm">Remaining: {{ remaining_category_budgets.healthcare }} RON</p>
                          {% else %}
                              <p class="text-secondary text-sm">No budget.</p>
                          {% endif %}
                        </span>
                      </h5>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                      <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-2 col-sm-6">
          <a class="btn btn-link p-0 m-0 w-100" data-bs-toggle="modal" data-bs-target="#addExpenseModal" data-category="snacks">
            <div class="card">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-8">
                    <div class="numbers text-start">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Snacks Expense</p>
                      <h5 class="font-weight-bolder mb-0">
                        {{ category_expenses.snacks|default:"0" }}
                        <span class="text-success text-sm font-weight-bolder">RON /
                          {% if remaining_category_budgets.snacks %}
                          <p class="text-secondary text-sm">Remaining: {{ remaining_category_budgets.snacks }} RON</p>
                          {% else %}
                              <p class="text-secondary text-sm">No budget.</p>
                          {% endif %}
                        </span>
                      </h5>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                      <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </a>
        </div>
               <!-- Modal for adding expense -->
               <div class="modal fade" id="addExpenseModal" tabindex="-1" role="dialog" aria-labelledby="expenseModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="expenseModalLabel">Add Expense</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      {% expense_form request.user.username %}
                    </div>
                  </div>
                </div>
              </div>
              <!-- END Modal for adding expense -->

      </div>

      <!-- charts -->
      <div class="row mt-4">
        <div class="col-lg-5 mb-lg-0 mb-4">
          <div class="card z-index-2">
            <div class="card-body p-3">

              <div class="bg-gradient-dark border-radius-lg py-3 pe-1 mb-3">
                <div class="chart">
                  <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
                </div>
              </div>
              {% for data in monthly_budget_data %}
              <h6 class="ms-2 mt-4 mb-0"> {{ data.monthly_budget.get_month_display }}'s budget: {{ data.monthly_budget.amount }} </h6>
              {% endfor %}
              <div class="container border-radius-lg">
                <div class="row">

                  <div class="col-12 py-3 ps-0">
                    <div class="d-flex mb-2">
                      <div class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-warning text-center me-2 d-flex align-items-center justify-content-center">
                        <svg width="10px" height="10px" viewBox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <title>credit-card</title>
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                              <g transform="translate(1716.000000, 291.000000)">
                                <g transform="translate(453.000000, 454.000000)">
                                  <path class="color-background" d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z" opacity="0.593633743"></path>
                                  <path class="color-background" d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"></path>
                                </g>
                              </g>
                            </g>
                          </g>
                        </svg>
                      </div>
                      <p class="text-xs mt-1 mb-0 font-weight-bold">Atention please</p>
                    </div>
                    <h4 class="font-weight-bolder">Please be aware of your spendings. Better to save up than to borrow money.</h4>
                    <div class="progress w-75">
                      <div class="progress-bar bg-dark w-30" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>

                </div>
              </div>

              
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="card z-index-2">
            <div class="card-header pb-0">
              <h6>Expenses vs Budgets overview</h6>
              <p class="text-sm">
                <i class="fa fa-arrow-up text-success"></i>
                <span class="font-weight-bold">This is a great way to actually see the family's budgets vs family's spendings.</span>
              </p>
            </div>
            <div class="card-body p-3">
              <div class="chart">
                <canvas id="chart-line" class="chart-canvas" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end charts -->



      <div class="row my-4">
        {% for monthly_data in monthly_budget_data %}
        <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7">
                  <h6>{{ monthly_data.monthly_budget.get_month_display }} in review</h6>
                  <p class="text-sm mb-0">
                    <i class="fa fa-check text-info" aria-hidden="true"></i>
                    <span class="font-weight-bold ms-1">{{ monthly_data.monthly_budget.amount }}</span> available this month
                  </p>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Category</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Initial Budget</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Amount spent</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Remaining amount</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Spenders</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for data in table_data %}
                        <tr>
                          <td>
                            <div class="d-flex px-2 py-1">
                              <div>
                                <i class="ni ni-cart text-info text-gradient avatar avatar-sm me-3"></i>
                              </div>
                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">{{ data.category }}</h6>
                              </div>
                            </div>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <span class="text-xs font-weight-bold"> 
                              {{ data.budget }} RON
                             </span>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <span class="text-xs font-weight-bold"> 
                              {{ data.expenses }} RON
                             </span>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <span class="text-xs font-weight-bold"> 
                              {{ data.remaining }} RON
                            </span>
                          </td>
                          <td>
                            <div class="avatar-group mt-2">
                              {% for expense in data.spenders %}
                                {% for member in expense.created_by.all %}
                                <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ member.name }}">
                                  <img src="{{ member.profile_pic.url }}" alt="{{ member.name }}">
                                </a>
                                {% endfor %}
                              {% endfor %}
                            </div>
                          </td>
                        </tr>
                         {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="card h-100">
            <div class="card-header pb-0">
              <h6>Expenses overview</h6>
              <p class="text-sm">
                <i class="fa fa-arrow-up text-success" aria-hidden="true"></i>
                <span class="font-weight-bold">24%</span> this month
              </p>
            </div>
            <div class="card-body p-3">
              <div class="timeline timeline-one-side">
                {% for data in expense_data %}
                  <div class="timeline-block mb-3">
                    <span class="timeline-step">
                      <i class="ni ni-bell-55 text-success text-gradient"></i>
                    </span>
                    <div class="timeline-content">
                      <h6 class="text-dark text-sm font-weight-bold mb-0">
                        {{ data.amount }} RON spent on {{ data.category }}</h6>
                      <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">Spent by: {{ data.spenders }}</p>
                      <a href="{% url 'delete_expense' username=user.username expense_id=data.id %}" class="btn-link text-secondary font-weight-bold text-xs mt-1 mb-0">
                        <i class="far fa-trash-alt me-2"></i>Delete
                      </a>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>




{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block scripts %}

<script>
$(document).ready(function(){
  $('#addExpenseModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var category = button.data('category') // Extract info from data-* attributes
    var modal = $(this)
    modal.find('.modal-body #id_category').val(category)
  })
})
</script>

  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");
    var labels = [];
    var data = [];

    {% for category, budget in category_budgets.items %}
        labels.push("{{ category }}");
        data.push("{{ budget.amount }}");
    {% endfor %}

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: labels,
        datasets: [{
          label: "Budget",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "#fff",
          data: data,
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: true
            },
          },
        },
      },
    });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

    var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

    var labels = [];
    var dataBudget = [];
    var dataExpenses = [];

    {% for data in chart_data %}
      labels.push("{{ data.month }}");  // Convert the month to title case
      dataBudget.push("{{ data.budget }}");
      dataExpenses.push("{{ data.expenses }}");
    {% endfor %}

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: labels,
        datasets: [{
            label: "Expenses",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#cb0c9f",
            borderWidth: 3,
            backgroundColor: gradientStroke1,
            fill: true,
            data: dataExpenses,
            maxBarThickness: 6

          },
          {
            label: "Budget",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#575f9a",
            borderWidth: 3,
            backgroundColor: gradientStroke2,
            fill: true,
            data: dataBudget,
            maxBarThickness: 6
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#b2b9bf',
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script>

{% endblock scripts %}
