{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
  <!-- Create Chore -->

  <div class="col-12 col-xl-12" >
    <div class="card mb-4">
      <div class="card-header pb-0 p-3">
        <h6 class="mb-1">Add chore</h6>
      </div>
      <div class="card-body p-3">
        <div class="row" style="justify-content: center;">
        
          <div class="col-xl-12 col-md-6 mb-xl-0 mb-4" id="create-chore" style="display: block;">
            <div class="card h-100 card-plain border">
              <div class="card-body d-flex flex-column justify-content-center text-center">
                <a href="javascript:;" id="create-chore-link">
                  <i class="fa fa-plus text-secondary mb-3"></i>
                  <h5 class=" text-secondary"> Create chore </h5>
                </a>
              </div>
            </div>
          </div>
         

          <!-- form create chore -->
          <div class="col-xl-6 col-md-6 mb-xl-0 mb-4" id="create-chore-form" style="display: none;">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left bg-transparent">
                <h3 class="font-weight-bolder text-info text-gradient">
                  Chore
                </h3>
            
              </div>
              <div class="card-body">
                <form role="form" method="post" action="" enctype="multipart/form-data">
                
                  {% csrf_token %}
                    {{ form.errors }}
                    {% for field in form %}
                        {{field.errors}}
                        <div class="form-floating" style="padding-bottom: 15px;">
                            {{field}}
                        <label for="floatingInput">{{ field.label }}</label>
                        </div>
                    {% endfor %}
                  


           
                  <div class="text-center">
                    <button type="submit"  class="btn bg-gradient-info w-100 mt-1 mb-0">Add chore</button>
               
                  </div>
                  {% if messages %}
                      <ul class="messages">
                          {% for message in messages %}
                          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </form>
              </div>
            </div>
          </div>
            <!-- end form create chore -->

        </div>
      </div>
    </div>
    
  </div>

      <!-- End Create Chore -->


  </div>
  <div class="row">
    <div class="col-md-6 mt-4">
      <div class="card">
        <div class="card-header pb-0 px-3">
          <h6 class="mb-0">Chores</h6>
        </div>
        <div class="card-body pt-4 p-3">
          <ul class="list-group">
            {% for chore in chores %}
            <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
              <div class="d-flex flex-column">
                <h6 class="mb-3 text-sm">{{ chore.assigned_to.name }}</h6>
                <span class="mb-2 text-xs">Title <span class="text-dark font-weight-bold ms-sm-2">{{ chore.title }}</span></span>
                <span class="mb-2 text-xs">Description: <span class="text-dark ms-sm-2 font-weight-bold">{{ chore.description }}</span></span>
             
              </div>
              <div class="ms-auto text-end">
                <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="{% url 'delete_chore' chore_id=chore.id username=request.user.username  %}"><i class="far fa-trash-alt me-2"></i>Delete</a>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-4">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Chore updates</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Assigned to</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Type</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created at</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                {% for chore in chores %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="{{ chore.assigned_to.profile_pic.url }}" class="avatar avatar-sm me-3" alt="{{ chore.assigned_to.name }}">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ chore.assigned_to.name }}</h6>
                        <p class="text-xs text-secondary mb-0">{{ chore.assigned_to.email }}</p>
                      </div>
                    </div>
                  </td>

                  <td class="align-middle text-center text-sm">
                    <p class="text-xs font-weight-bold mb-0">{{ chore.title }}</p>
                  </td>
                  
                  <td class="align-middle text-center text-sm">
                    {% if chore.is_done %}
                    <span class="badge badge-sm bg-gradient-success">Done</span>
                    {% else %}
                    <span class="badge badge-sm bg-gradient-secondary">In progress</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{ chore.created_at }}</span>
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}
    
  </div>

<script>
      document.getElementById('create-chore-link').addEventListener('click', function() {
      document.getElementById('create-chore-form').style.display = 'block';
    });

    document.getElementById('create-chore').addEventListener('click', function() {
      document.getElementById('create-chore').style.display = 'none';
    });
</script>

{% endblock content %}

<!-- 
{% for chore in chores %}
    <p>{{ chore.title }} - {{ chore.assigned_to.name }} - {% if chore.is_done %}Done{% else %}In progress{% endif %}</p>
{% endfor %} -->