{% extends 'layouts/base.html' %}
{% load static %}
{% load my-form-tags %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
  <!-- Create monthly budget -->
  <div class="col-12 col-xl-4" >
    <div class="card mb-4">
      <div class="card-header pb-0 p-3">
        <h6 class="mb-1">Monthly Budget</h6>
      </div>
      <div class="card-body p-3">
        <div class="row" style="justify-content: center;">
          <div class="col-xl-12 col-md-6 mb-xl-0 mb-4" >
            <div class="card h-100 card-plain border">
              <div class="card-body d-flex flex-column justify-content-center text-center">
                  <i class="fa fa-plus text-secondary mb-3"></i>
                  <button type="button"  id="addBudgetLink" data-toggle="modal" data-target="#addBudgetModal" class="btn bg-gradient-info w-100 mt-1 mb-0">Add Monthly Budget</button>
                  <!-- Modal for adding a budget -->
                  <div class="modal fade" id="addBudgetModal" tabindex="-1" role="dialog" aria-labelledby="budgetModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="budgetModalLabel">Add Monthly Budget</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          {% monthly_budget_form request.user.username %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END Modal for adding a budget -->
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <!-- End Create monthly budget -->

      <!-- Create  budget -->
  <div class="col-12 col-xl-4" >
    <div class="card mb-4">
      <div class="card-header pb-0 p-3">
        <h6 class="mb-1">Category Budget</h6>
      </div>
      <div class="card-body p-3">
        <div class="row" style="justify-content: center;">
          <div class="col-xl-12 col-md-6 mb-xl-0 mb-4" >
            <div class="card h-100 card-plain border">
              <div class="card-body d-flex flex-column justify-content-center text-center">
                  <i class="fa fa-plus text-secondary mb-3"></i>
                  <button type="button"  id="addMonthlyBudgetLink" data-toggle="modal" data-target="#addMonthlyBudgetModal" class="btn bg-gradient-info w-100 mt-1 mb-0">Add Category Budget</button>
                  <!-- Modal for adding a budget -->
                  <div class="modal fade" id="addMonthlyBudgetModal" tabindex="-1" role="dialog" aria-labelledby="MonthlybudgetModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="MonthlybudgetModalLabel">Add Budget</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          {% budget_form request.user.username %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END Modal for adding a budget -->
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <!-- End Create category budget -->

            <!-- Chart -->
  <div class="col-12 col-xl-4" >
    <div class="card mb-4">
      <div class="card-header pb-0 p-3">
        <h6 class="mb-1">Overview</h6>
      </div>
      <div class="card-body p-3">
  
        <div class="bg-gradient-dark border-radius-lg py-3 pe-1 mb-3">
          <div class="chart">
            <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
          </div>
        </div>
  
  

      </div>
    </div>
  </div>
      <!-- End Chart -->

  </div>
  <div class="row">
    <div class="col-md-4 mt-4">
      <div class="card">
        <div class="card-header pb-0 px-3">
          <h6 class="mb-0">Budgets</h6>
        </div>
        <div class="card-body pt-4 p-3">
          <ul class="list-group">
            {% for data in monthly_budget_data %}
            <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
              <div class="d-flex flex-column">
                <h6 class="mb-3 text-sm">{{ data.monthly_budget.month }} - {{ data.monthly_budget.year }}</h6>
                <span class="mb-2 text-xs">Initial Amount: <span class="text-dark ms-sm-2 font-weight-bold">{{ data.monthly_budget.amount_in_ron }}</span></span>
                <span class="mb-2 text-xs">Total Budget: <span class="text-dark ms-sm-2 font-weight-bold">{{ data.total_budget }} RON</span></span>
                <span class="mb-2 text-xs">Remaining Amount: <span class="text-dark ms-sm-2 font-weight-bold">{{ data.remaining_amount }} RON</span></span>
             
              </div>
              <div class="ms-auto text-end">
                <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="#"><i class="far fa-trash-alt me-2"></i>Delete</a>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8 mt-4">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Budget in-depth</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">For</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Amount</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Month</th>

                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                {% for data in monthly_budget_data %}
                {% for budget in data.budgets %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ budget.category }}</h6>
                      </div>
                    </div>
                  </td>

                  <td class="align-middle text-center text-sm">
                    <p class="text-xs font-weight-bold mb-0">{{ budget.amount }} RON</p>
                  </td>

                  <td class="align-middle text-center text-sm">
                    <p class="text-xs font-weight-bold mb-0">{{ budget.monthly_budget.get_month_display }}</p>
                  </td>
                  
         
               
                </tr>
                {% endfor %}
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>



  

    <!-- {% include "includes/footer.html" %} -->
    
  </div>

   
  <script>

    // Add event listeners to open each modal
    document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('addBudgetLink').addEventListener('click', function() {
      $('#addBudgetModal').modal('show');
    });
  });

  //monthly budget
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('addMonthlyBudgetLink').addEventListener('click', function() {
      $('#addMonthlyBudgetModal').modal('show');
    });
  });
  
  </script>

{% endblock content %}

{% block scripts %}

  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>

  <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");
    
    var monthlyAmounts = [
        {% for data in monthly_budget_data %}
            {{ data.monthly_budget.amount }},
        {% endfor %}
    ];

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Budget",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "#fff",
          data: monthlyAmounts,
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: false
            },
          },
        },
      },
    });


 

    
  </script>

{% endblock scripts %}
