{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid">
      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('{{member.cover_pic.url}}'); background-position-y: 50%;">
        <span class="mask bg-gradient-primary opacity-6"></span>
      </div>
      <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
        <div class="row gx-4">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
              <img src="{{member.profile_pic.url}}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
                {{ member.name }}
              </h5>
              <p class="mb-0 font-weight-bold text-sm">
                {{ member.get_role_display }}
              </p>
            </div>
          </div>
         
        </div>
      </div>  
    </div>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12 col-xl-4 pb-4">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">My family</h6>
            </div>
            <div class="card card-body card-plain p-3">
              <div class="position-relative">
                <a class="d-block shadow-xl border-radius-xl">
                  <img src="{{my_family.profile_pic.url}}" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
                </a>
              </div>
              <div class="card-body px-1 pb-0">
                <a href="javascript:;">
                  <h5>
                    {{ my_family.name }} Family
                  </h5>
                </a>
                <p class="mb-4 text-sm">
                  Created by: {{ my_family.created_by }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-4 pb-4">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">What can I spend this month 	&#128513; ({{ current_month }})</h6>
            </div>
            <div class="card-body p-3">
              <ul class="list-group">
                {% for budget in budgets %}
                <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                  <div class="d-flex align-items-start flex-column justify-content-center">
                    <h5 class="mb-1">You can spend {{ budget.amount }} RON on {{ budget.category }}</h5>
                    <div class="progress w-75"></div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>


        <div class="col-12 col-xl-4 pb-4">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">My family members</h6>
            </div>
            <div class="card-body p-3">
              <ul class="list-group">
                {% for member in family %}
                <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                  <div class="avatar me-3">
                    <img src="{{member.profile_pic.url}}" alt="{{member.name}}" class="border-radius-lg shadow">
                  </div>
                  <div class="d-flex align-items-start flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{member.name}}</h6>
                    <p class="mb-0 text-xs">email: {{member.email}}</p>
                    <p class="mb-0 text-xs">phone: {{member.phone}}</p>
                    <p class="mb-0 text-xs">role: {{member.get_role_display}}</p>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        
      </div>

      {% include "includes/footer.html" %}
      
    </div>
  </div>

{% endblock content %}