<!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
    <footer class="footer py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-4 mx-auto text-center">
            <a href="https://school-manager-in-django.onrender.com/" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
              SchoolBook App
            </a>
            <a href="https://django-bookforrent-app.onrender.com/" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
              BookForRent App
            </a>
            <a href="https://www.linkedin.com/in/drinceanuadrian/" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
              LinkedIn
            </a>
            <a href="https://github.com/adriandrinceanu" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
              Github
            </a>
            
          </div>
          <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
           
            <a href="https://github.com/adriandrinceanu" target="_blank" class="text-secondary me-xl-4 me-4">
              <span class="text-lg fab fa-github"></span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-8 mx-auto text-center mt-1">
            <p class="mb-0 text-secondary">
              &copy; <a href="https://github.com/adriandrinceanu" class="text-muted" target="_blank">Drinceanu Adrian</a>.
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->