{% load static %}
{% load my-form-tags %}
<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
        <li class="text-sm text-dark active ms-2" aria-current="page">
          {% if request.path == '/' %} / Dashboard {% else %} {{ request.path|title }} {% endif %}
        </li>
      </ol>
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <!-- <div class="input-group"> -->
          <!-- <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span> -->
          <!-- <input type="text" class="form-control" placeholder="Type here..."> -->
        <!-- </div> -->
      </div>
      <ul class="navbar-nav  justify-content-end">

        {% if request.user.is_authenticated %}
          <li class="nav-item d-flex align-items-center">

            {% if request.user.is_superuser %}
            <a href="{% url 'admin:logout' %}" class="nav-link text-body font-weight-bold px-0">
            {% else %}
            <a href="{% url 'logout' %}" class="nav-link text-body font-weight-bold px-0">
            {% endif %}
            
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none me-3">Logout</span>
            </a>
          </li>
        {% else %}
          <li class="nav-item d-flex align-items-center">
            <a href="{% url 'login' %}" class="nav-link text-body font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none me-3">Sign In</span>
            </a>
          </li>
        {% endif %}

        <li class="nav-item d-flex align-items-center">

          {% if request.user.is_superuser %}
          <a href="{% url 'admin:password_change' %}" class="nav-link text-body font-weight-bold px-0">
          {% else %}
          <a href="{% url 'password_change' %}" class="nav-link text-body font-weight-bold px-0">
          {% endif %}
            <span class="d-sm-inline d-none me-3">Change Password</span>
          </a>
        </li>

        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </a>
        </li>
        <!-- notificari -->
        <li class="nav-item dropdown pe-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bell cursor-pointer"></i>
            <!-- Notification counter -->
          <span id="notificationCounter" class="badge bg-danger"></span>
          </a>
          <ul id="notificationDropdown" class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
            <!-- Notifications will be added here by JavaScript -->
        </ul>
        </li>
        <!-- mesaje -->
        <li class="nav-item dropdown pe-3 d-flex align-items-center">
          <a href="{% url 'chat' username=request.user.username %}" class="nav-link text-body p-0">
            <i class="fa fa-envelope cursor-pointer"></i>
            <!-- Messages counter -->
          <span id="messagesCounter" class="badge bg-danger"></span>
          </a>
          <!-- <ul id="messagesDropdown" class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
             Messages will be added here by JavaScript like this: member.name messaged the Family Room x time ago. 
          </ul> -->
        </li>

        {% if request.user|in_group:"Family Leader" and not request.user.is_superuser %}
        <!-- expenses -->
        <li class="nav-item dropdown pe-3 d-flex align-items-center">
          <a href="{% url 'expenses' username=request.user.username %}" class="nav-link text-body p-0" >
            <i class="fa fa-credit-card-alt cursor-pointer"></i>
            <!-- Messages counter -->
          <span id="expensesCounter" class="badge bg-danger"></span>
          </a>
          <!-- <ul id="expensesDropdown" class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
          </ul> -->
        </li>
        {% else %}
        <li class="nav-item dropdown pe-3 d-flex align-items-center">
          <a href="{% url 'member_expenses' username=request.user.username %}" class="nav-link text-body p-0" >
            <i class="fa fa-credit-card-alt cursor-pointer"></i>
            <!-- Messages counter -->
          <span id="expensesCounter" class="badge bg-danger"></span>
          </a>
          <!-- <ul id="expensesDropdown" class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
          </ul> -->
        </li>
        {% endif %}

        <li class="nav-item pe-2 d-flex align-items-center">
          <label for="theme-switch" class="nav-link text-body p-0 m-0">
            <i class="fa fa-sun fixed-plugin-button-nav cursor-pointer" id="theme-indicator"></i>
          </label>
          <input type="checkbox" class="d-none" id="theme-switch"/>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->

<script>
  let socket1 = new WebSocket("ws://localhost:8000/ws/notifications/");
  let notifications = [];  // Declare notifications array here

  // Function to update the notification counter
  function updateNotificationCounter() {
      let counter = document.getElementById("notificationCounter");
      counter.textContent = notifications.length;
  }

  // Function to update the notifications dropdown
  function updateNotificationsDropdown() {
      let dropdown = document.getElementById("notificationDropdown");
      dropdown.innerHTML = "";

      if (notifications.length === 0) {
          dropdown.innerHTML = "<li class='mb-2'>No notifications yet</li>";
      } else {
          for (let i = 0; i < notifications.length; i++) {
              let notification = notifications[i];
              let item = document.createElement("li");
              item.classList.add("mb-2");
              item.innerHTML = `
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                      <div class="d-flex py-1">
                          <div class="my-auto">
                              <img src="${notification.member.profile_pic}" class="avatar avatar-sm  me-3 ">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                              <h6 class="text-sm font-weight-normal mb-1">
                                  <span class="font-weight-bold">${notification.message}</span>
                              </h6>
                              <p class="text-xs text-secondary mb-0 ">
                                  <i class="fa fa-clock me-1"></i>
                                  ${notification.created_at}
                              </p>
                          </div>
                      </div>
                  </a>
              `;
              dropdown.appendChild(item);
          }
      }
  }

  // Add an event listener for incoming messages
  socket1.onmessage = function(event) {
      let data = JSON.parse(event.data);
      if (data.type === 'send_notification') {
          let notification = data.notification;
          notifications.push(notification);
          updateNotificationCounter();
          updateNotificationsDropdown();
      }
  };

  // Connection opened
  socket1.addEventListener('open', (event) => {
      socket1.send(JSON.stringify({
          'command': 'get_notifications'
      }));
  });

  // Listen for messages
  socket1.addEventListener('message', (event) => {
      console.log('Message from server: ', event.data);
      let data = JSON.parse(event.data);
      console.log('Parsed data: ', data);

      if (data.type === 'send_notification') {
          let notification = data.notification;
          notifications.push(notification);
      } else if (data.notifications) {
          notifications = data.notifications;
      }

      console.log('Notifications: ', notifications);
      updateNotificationCounter();
      updateNotificationsDropdown();
  });

  socket1.onclose = function(e) {
      console.error('Chat socket closed unexpectedly');
  };
//////////////////////////////////////////////////////////////////





/// messages
function updateMessageCounter() {
    fetch('{% url "unread_messages_count" %}')
        .then(response => response.json())
        .then(data => {
            // Save the count to localStorage
            localStorage.setItem('messageCount', data.count);
            
            // Update the counter on the page
            document.getElementById('messagesCounter').textContent = data.count;
        });
}


// Update the message counter every 5 seconds
setInterval(updateMessageCounter, 5000);




///// expenses

let username = "{{ request.user.username }}"

function updateExpenseCounter() {
    // Fetch family expenses count from the server
    fetch(`/expenses_count/${username}/`)
        .then(response => response.json())
        .then(data => {
            // Save the count to localStorage
            localStorage.setItem('expenseCount', data.count);
            // Update the counter on the page
            document.getElementById('expensesCounter').textContent = data.count;
        });
}


// Update the expenses data every 5 seconds
setInterval(updateExpenseCounter, 5000);

window.onload = function() {
    // Load the message count from localStorage
    var messageCount = localStorage.getItem('messageCount');
    if (messageCount) {
        document.getElementById('messagesCounter').textContent = messageCount;
    }

    // Load the expense count from localStorage
    var expenseCount = localStorage.getItem('expenseCount');
    if (expenseCount) {
        document.getElementById('expensesCounter').textContent = expenseCount;
    }
};

</script>

